[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Pp]ackages/
[Ll]ogs/
[Uu]serSettings/
Assets/AssetStoreTools*

.vs/

ExprotedObj/
.cpnsulo/
*.csproj
*.unityproj
*.sln
*.suo
.*tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.vsconfig